.example-spacer {
    flex: 1 1 auto;
  }
.mainBody{
  padding-top: 20px;
  // max-width: 1155px;
  margin: 0 auto;
  mat-form-field{
    width: 100%;
  }
  .flexDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50%;

  }
}